.logotipo{
    width: 40%;
}
.pesquisa{
    width: 60%;
    position: absolute;
    margin-top: 20%;
    top: 0px;
    right: 80px;
    left: 300px;
}
header { 
    background-color: rgba(194, 183, 175, 0.966);
}
.caixa{
    position: relative;
    width: 1480px;
    margin: 0 auto;
}
nav{
    position: absolute;
    margin-top: 20px;
    top: 10px;
    right: 0px;
    width: 20%;
}
.logotipo{
    width: 20%;
    position: relative;
    right: 220px;
}
.menu{
    width: 10%;
    position: relative;
    right: 200px;
}
.vela1{
    width: 50%;
    margin-top: 20px;
    position: absolute;
    left: 500px;
    background-color: rgba(194, 183, 175, 0.966);
}

